<ion-content [fullscreen]="true">
    <div id="container">
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="danger">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list (click)="close($event)" side="start">
            <div class="add-new-transaction_box">
                <ion-item>
                    <ion-label position="stacked">Item</ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </div>
        </ion-fab-list>
    </ion-fab>
</ion-content>