<ion-content [fullscreen]="true">
    <div id="container">
        <ion-grid>
            <ion-row *ngFor="let transaction of transactions$ | async">
                <ion-col>{{transaction.id}}</ion-col>
                <ion-col>{{transaction.name}}</ion-col>
                <ion-col>{{transaction.value}}</ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addNew()" color="danger">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>